<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">     
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Gestion des Films</title>
</head>
<body>
 <div layout:fragment="Mycontent">
<div class="container mt-5">
<div class="card">
<div class="card-header" th:if="${mode=='new'}"> Ajout des Musiques </div>
<div class="card-header" th:if="${mode=='edit'}">Modification des Musiques</div>

  	<div class="card-body">
  	
	<form th:action="@{saveMusique}" method="post">
		<div class="form-group">
			<label class="control-label" hidden>ID Musique :</label> 
		       <input type="hidden" name="idMusique" class="form-control" th:value="${musique.idMusique}"  />
		</div>					
		<div class="form-group">
			<label class="control-label">Nom Musique :</label> 
			 <input type="text" name="nomMusique" class="form-control" th:value="${musique.nomMusique}"  />
			<span th:errors= ${musique.nomMusique} class="text-danger"> </span>	 
		</div>
		<div class="form-group">
			<label class="control-label">Duree Musique :</label> 
		    <input type="text" name="dureeMusique" class="form-control" th:value="${musique.dureeMusique}" />
		    <span th:errors=${musique.dureeMusique} class="text-danger"> </span> 
		</div>
		<div class="form-group">
			<label class="control-label">date Creation :</label> 
			<input type="date" name="dateSortie" class="form-control"  th:value="${musique.dateSortie}"/>
			 <span th:errors=${musique.dateSortie} class="text-danger"> </span> 
		</div>
		
		
<div class="form-group">
								<label class="control-label">Genre :</label>
								<select type="text" name="genre" class="form-control"
									th:value="${musique.genre.idGenre}">
									<option th:each="g:${genres}" th:if="${mode=='edit'}" th:value="${g.idGenre}"
										th:text="${g.nomGenre}" th:selected="${ g.idGenre==musique.genre.idGenre}">
									</option>
									<option th:each="g:${genres}" th:if="${mode=='new'}" th:value="${g.idGenre}"
										th:text="${g.nomGenre}"></option>
								</select>
							</div>
		
<button type="submit" class="btn btn-primary" th:if="${mode=='new'}">Ajouter</button>
<button type="submit" class="btn btn-primary" th:if="${mode=='edit'}">Modifier</button>
		</div>
		</form>
		</div>
		</div>
</div>
</div>
</body>
</html>